.resultsContainer {
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    color: #c3b3ee;
}

.resultsContainer h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.resultsList {
    list-style-type: none;
    padding: 0;
}

.resultItem {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.correctAnswer {
    background-color: #4caf50;
    color: white;
}