.teacherContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}

.input{
    width: 40rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 1rem;
}

.options{
    width: 20rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 1rem;
}

.submitButton{
        width: 10rem;
        padding: 10px;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin: 1rem;
        background-color: #C3B3EE;
}

.SubmitPoll{
    width: 10rem;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin: 1rem;
        background-color: #45a049;
}

.label{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
    color: white;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23C3B3EE" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    padding-right: 2rem;
}

.durationContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.duration{
    width: 10rem;
    height: 2rem;
    margin: 1rem;
}

.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    color: #C3B3EE;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navItems {
    display: flex;
    gap: 1rem;
}

.navItem {
    color: #C3B3EE;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active {
    border-bottom: 3px solid #C3B3EE;
}


.container {
    background-color: #1e1e1e;
    color: #c3b3ee;
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    margin: 2rem auto;
}

.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.studentList {
    list-style-type: none;
    padding: 0;
}

.studentListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: #333;
    border-radius: 5px;
}

.kickButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.kickButton:hover {
    background-color: #d32f2f;
}